## ── Rede ─────────────────────────────────────────────────────────────────────
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

sv_maxclients 7
sv_endpointprivacy true

## ── OneSync ──────────────────────────────────────────────────────────────────
onesync on
set onesync_enabled true
set onesync_enableInfinity 1
onesync_distanceCullVehicles true
onesync_forceMigration true

## ── Performance / Rate ───────────────────────────────────────────────────────
set rateLimiter_stateBag_rate 2000
set rateLimiter_stateBag_burst 3000

## ── Game build ───────────────────────────────────────────────────────────────
set sv_enforceGameBuild 2189
